h2{
    color: red;
}
body {
    color: rgb(26, 25, 25);
}
p {
    display: inline;
  }
img{
    width: 300px; ;
}
nav{
    background-color: red;
    padding: 15px;
   text-align: center;
}
body{
    font-family: 'Robotot',sans-serif;
}